- provide(:title, 'Главная')

.center.hero-unit
  .page-header
    %h3 Welcome to the Sample App
  - @users.each do |user|
    %p
      User: #{link_to user.name, user}
  = link_to "Sign up now!", '#', class: "btn btn-large btn-primary"