@import "bootstrap";
@import "bootstrap-responsive";
@import "variables.css.scss";
@import "http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic";

/* universal */
html {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

body, td, th, input, textarea, select, a {
  font-size: 12px;
}

body {
  background: url("bg.gif") repeat scroll 0 0 transparent;
  color: #000000;
  //font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  & > .container {
    //background-attachment: scroll !important;
    //background-color: #F8F8F8;
    //background-image: url("catalog/view/theme/sellya/image/patterns/p1.png");
    //background-position: center top !important;
    //background-repeat: repeat !important;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }

  a.sys-link {
    font-size: 9pt;
    padding: 1px 5px;
    color: #EF784E;
  }
}



section {overflow: auto;}

textarea {resize: vertical;}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn-primary {
  background-color: #E86537;
  background-image: linear-gradient(to bottom, #EF784E, #DD4814);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #DD4814;
  color: #FFFFFF;
}

/* Remember me checkbox */
#user_remember_me{
  float: left;
  margin-right: 10px;
}

/*.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; */ /* negative indent the amount of the padding to maintain the grid system */
  /*@include border-radius(0 0 6px 6px);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
} */

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
/*
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
} */

h1 {
  color: #636E75;
  font-family: Verdana;
  font-size: 28px;
  font-weight: normal;
  //margin-bottom: 10px;
  //margin-top: 0;
  margin: 5px 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
h2 {
  color: #444444;
  font-size: 16px;
  //font: bold 15px/18px Arial;
  //margin-bottom: 3px;
  //margin-top: 0;
  margin: 3px 0;
}
p {
  margin-bottom: 20px;
  margin-top: 0;
}
a, a:visited, a b  {
  color: #38B0E3;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #636E75;
    text-decoration: underline;
  }
  img {
    border: medium none;
  }

}

.field_with_errors {
  display:inline;
  margin:0px;
  padding:0px;
}

.nav .dropdown-toggle {
  .caret {
    border-bottom-color: $grayLight;
    border-top-color: $grayLight;
  }
  &:hover .caret, &:focus .caret {
    border-bottom-color: $grayDark;
    border-top-color: $grayDark;
  }
}


/*form {
  display: inline;
  margin: 0;
  padding: 0;
}
input[type="text"], input[type="password"], textarea {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #CCCCCC;
  margin-left: 0;
  margin-right: 0;
  padding: 3px;
}
select {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #CCCCCC;
  padding: 2px;
}
label {
  cursor: pointer;
} */

/* header */
header{
  #logo {
    float: left;
    padding: 10px 0px 10px;
    font-size: 1.7em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  #subnav {
    color: #999999;
    margin-top: 8px;
    //width: 100%;
    ul {
      padding-right: 8px;
      margin-bottom: 0;
    }
    span.btn-group {
      top: 3px;
    }
    .divider-vertical {
      //border-left: 1px solid #F2F2F2;
      border-left: 1px solid $grayLighter;
      border-right: 1px solid $white;
      height: 21px;
    }

    form {
      margin: 0;

      input.btn {
        clear: left;
        width: 100%;
        height: 32px;
        font-size: 13px;
      }
      a {
        font-size: 8pt;
      }
    }

    .dropdown-menu.right {
      padding: 15px;
      padding-bottom: 0px;
      left: auto;
      right: 0px;
      &::before {
        left: auto !important;
        right: 9px;
      }
      &::after {
        left: auto !important;
        right: 10px;
      }
    }

  }

  #cart {
    //min-width: 300px;
    right: 2px;
    top: 42px;
    z-index: 9;
    width: 100%;

    .heading {
      background: none repeat scroll 0 0 $white;
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      border-top: 1px solid $white;
      margin-top: 15px;
      //margin-top: 10px;
      padding-left: 14px;
      padding-right: 14px;
      position: relative;
      z-index: 1;

      /*&:active {
        border-left: 1px solid $grayLighter;
        border-radius: 7px 7px 0 0;
        border-right: 1px solid $grayLighter;
        border-top: 1px solid $grayLighter;
        margin-top: 5px;
        padding-bottom: 6px;
        padding-top: 10px;
      } */
      h4 {
        color: #333333;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 3px;
        margin-top: 0;
      }
      a {
        //color: #38B0E3;
        color: #EF784E;
        text-decoration: none;
        span {
          background: url("arrow-down.png") no-repeat scroll 100% 50% $white;
          padding-right: 15px;
        }
      }
    }
    .content {
      /*background: none repeat scroll 0 0 $white;
      border-color: $grayLighter;
      border-radius: 7px 0 7px 7px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 2px 2px #DDDDDD;
      clear: both;
      display: none;
      min-height: 150px;
      padding: 8px;
      position: relative;
      top: -1px;*/

      clear: both;
      display: none;
      position: relative;
      top: -1px;
      padding: 8px;
      min-height: 150px;
      border-top: 1px solid #EEEEEE;
      border-left: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      -webkit-border-radius: 0px 7px 7px 7px;
      -moz-border-radius: 0px 7px 7px 7px;
      -khtml-border-radius: 0px 7px 7px 7px;
      border-radius: 7px 0px 7px 7px;
      -webkit-box-shadow: 0px 2px 2px #DDDDDD;
      -moz-box-shadow: 0px 2px 2px #DDDDDD;
      box-shadow: 0px 2px 2px #DDDDDD;
      background: #FFF;
    }

    .checkout {
      clear: both;
      text-align: right;
    }
    .empty {
      padding-top: 50px;
      text-align: center;
    }

    .active {
      .heading {
        /*border-left: 1px solid #EEEEEE;
        border-radius: 7px 7px 0 0;
        border-right: 1px solid #EEEEEE;
        border-top: 1px solid #EEEEEE;
        margin-top: 5px;
        padding-bottom: 6px;
        padding-top: 10px; */

        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 6px;
        border-top: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        -webkit-border-radius: 7px 7px 0px 0px;
        -moz-border-radius: 7px 7px 0px 0px;
        -khtml-border-radius: 7px 7px 0px 0px;
        border-radius: 7px 7px 0px 0px;
      }
      content {
        display: block;
      }
    }
  }
}

.mini-cart-info table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}
.mini-cart-info td {
  color: #000;
  vertical-align: top;
  padding: 10px 5px;
  border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
  width: 1px;
}
.mini-cart-info .image img {
  border: 1px solid #EEEEEE;
  text-align: left;
}
.mini-cart-info .name small {
  color: #666;
}
.mini-cart-info .quantity {
  text-align: right;
}
.mini-cart-info td.total {
  text-align: right;
}
.mini-cart-info .remove {
  text-align: right;
}
.mini-cart-info .remove img {
  cursor: pointer;
}
.mini-cart-total {
  text-align: right;
}
.mini-cart-total table {
  border-collapse: collapse;
  display: inline-block;
  margin-bottom: 5px;
}
.mini-cart-total td {
  color: #000;
  padding: 4px;
}

/* Главное меню  */

#main-menu {
  .sidebar-nav {
    padding: 9px 0;
  }

  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }

  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
  }

  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
  }
  .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
  }

  &.navbar-inverse {
    .navbar-inner {
      background: #585858;
      border-bottom: 1px solid #000000;
      padding-left: 0px;
      padding-right: 10px;

      -webkit-box-shadow: 0px 2px 2px #DDDDDD;
      -moz-box-shadow: 0px 2px 2px #DDDDDD;
      box-shadow: 0px 2px 2px #DDDDDD;
      background-image: -moz-linear-gradient(top, #6c737e, #454545);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6c737e), to(#454545));
      background-image: -webkit-linear-gradient(top, #6c737e, #454545);
      background-image: -o-linear-gradient(top, #6c737e, #454545);
      background-image: linear-gradient(to bottom, #6c737e, #454545);
      background-repeat: repeat-x;
    }

    .nav > .divider-vertical {
      border-left: 1px solid #4D525A;
      border-right: 1px solid #656C76;
      margin: 0;
    }

    .brand, .nav > li > a {
      color: #FFFFFF;
      font-size: 14px;
      //text-transform: uppercase;
      z-index: 6;
      text-shadow: none;
    }

    .nav {
      > li > a {
        &:focus, &:hover {
          background-color: #333333;
          //color: #f47b20;
          color: #EF784E;
        }
      }
      .active > a {
        color: #EF784E;
        background-color: #333333;
        &:hover, &:focus {
          color: #EF784E;
          background-color: #333333;
        }
      }
    }

    .nav li.dropdown {
      &.open > .dropdown-toggle, &.active > .dropdown-toggle {
        background-color: #333333;
        color: #EF784E;
      }
      &.open {
        &.active > .dropdown-toggle {
          background-color: #6c737e;
          color: #fff;
        }
        > .dropdown-toggle .caret {
          border-top-color: #EF784E;
          border-bottom-color: #EF784E;
        }
      }
      > {
        a {
          &:hover .caret, &:focus .caret {
            border-top-color: #EF784E;
            border-bottom-color: #EF784E;
          }
        }
        .dropdown-toggle .caret {
          border-top-color: #ccc;
          border-bottom-color: #ccc;
        }
      }
      &.active > .dropdown-toggle .caret, &.open.active > .dropdown-toggle .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
      }
    }


    .navbar-search input {
      //background: url("search.png") no-repeat scroll 97% 6px #555555;
      //background: url("search.png") no-repeat scroll 97%
      //color: #FFFFFF;
      //padding-right: 25px;
      //text-shadow: none;
    }
    .navbar-search .search-query {
      color: #fff;
      background: url("search.png") no-repeat scroll 97% #aaaeb5;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
      &:focus, &.focused {
        background-color: #fff;
        color: #434848;
      }
    }

    .btn-navbar {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #6f7681;
      background-image: -moz-linear-gradient(top, #78808b, #606670);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78808b), to(#606670));
      background-image: -webkit-linear-gradient(top, #78808b, #606670);
      background-image: -o-linear-gradient(top, #78808b, #606670);
      background-image: linear-gradient(to bottom, #78808b, #606670);
      background-repeat: repeat-x;
      border-color: #606670 #606670 #3d4147;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      *background-color: #606670;
      &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
        color: #fff;
        background-color: #606670;
        *background-color: #545a63;
      }
      &:active, &.active {
        background-color: #494d55 \9;
      }
    }

    /*ul.nav > li:hover {
      background-color: #333333;
      color: #f47b20;
    }

    .nav > li > a:hover, .nav > li > a:focus, .dropdown-submenu:hover > a {
      background-color: #91C113;
      background-image: none;
      color: #FFFFFF;
      filter: none;
      text-decoration: none;
    }  */

    /*nav > li > a:hover, .nav > li > a:focus, .dropdown-submenu:hover > a {
      background-color: #333333;
      color: #f47b20;
    } */

  }
}





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  a {
    color: $grayDark;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*.subnav22{
  clear: both;
  float: right;
  font-size: 10px;
  padding-right: 0;
  right: 0;
  top: 18px;
} */


