%p
  Здравствуйте, #{@resource.name}!
%p На сайте <a href="http://muhovyaz.ru/">Муховяз.RU</a> была запрошена ссылка на изменения пароля на ваш аккаунт. Вы можете изменить пароль нажав ссылку ниже:
%p= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если это сообщение пришло Вам по ошибке, просто проигнорируйте его. Ваш пароль не изменится, пока вы не перейдете по ссылке выше, и не укажите новый.
%p С уважением, <a href="http://muhovyaz.ru/">Муховяз.RU</a>