%footer.footer
  %small
    %a{:href => 'http://muhovyaz.ru/'} Муховяз.RU
  %nav
    %ul
      %li= link_to 'О нас',   page_path('about')
      %li= link_to 'Контакты', page_path('contact')
      %li= link_to 'Новости', '#'